<div id="menuContainer">
    <div class="item branding" routerLink="/home">
        <img id="main-logo" src="assets/img/logo_live.png" alt="Logo de CHATzinger"> CHATzinger
    </div>
    <div class="item" routerLink="/profile">
        Profile
    </div>
    <!-- <i class="fab fa-accessible-icon"></i> fontawesome
    <i class="fab fa-accessible-icon"></i>
    <a routerLink="/home">Home</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/conversation">Conversation</a> |
    <a routerLink="/profile">Profile</a>
    routerLink ocupa el lugar del href porque el hraf hace que la pagina se cargue cada vez que vamos a un lin y con el rauterLink nos evitamos esto. -->
</div>