<!-- colocamos el contenido del menu.componet.html de esta manera -->
<!-- *ngIf=para que no se muestre el navbar en login   -->
<app-menu *ngIf="router.url !='/login'"></app-menu>
<!-- [ngClass]= se le pasa un objeto con el nombre de la clase de css y la condicion para que oculte el navbar en login -->
<div [ngClass]="{'generalContent': router.url !='/login'}">
    <!-- con esto ayudamos al rauter para inyectar aqui todos los componentes a que estemos navegando con esta directiva, el modulo de ruteo buscara esta etiqueta y tratara de inyectar aqui los componentes que le pasamos en las rutas de navegacion-->
    <router-outlet></router-outlet>
</div>


<!-- <ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.name}}
    </li>
</ul>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.14.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.14.2/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script> -->
